<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeightBot.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D530937E29A15F9E00A7C88B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D530938E29A15F9F00A7C88B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D530939829A15F9F00A7C88B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
